@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <form method="POST">
        <button type="submit" asp-route-data="foo" asp-page-handler="GetData">GetData</button>
        <label asp-for="ScrollText">@Model.ScrollText</label>
    </form>
</div>
